@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.h-100vh{
    min-height: 70vh;
}

.bg-my-primary {
    background-color: #78C6EA;
}
#map{
    padding-top: 100px;
    margin-top: 20px;
    height: 400px;
    width: 400px;
}

.navbar-brand {
    width: 250px;
}

.logo-right{
    width: 50px;
}

.card-event{
    width: 80%;
    border-width: 2px;
    border-color: #78C6EA;
}

.logo-footer{
    width: 200px;
}

.logo-footer-2{
    width: 200px;
}

.logo-footer-3{
    width: 50px;
}

footer h6{
    font-size: 12px;
}

.logo-detail{
    width: 30px;
}

.image-detail{
    width: 80%;
}

.text-justify{
    text-align: justify;
}

.btn-my-primary{
    background-color: #78C6EA;
    color: white;
}

.btn-my-primary:hover{
    border-color: #78C6EA;
    color: #78C6EA;
}

.hero .carousel-item {
    transition: transform 0.5s ease-in-out;
    width: 1750px;
    height: 820px;

}

.hero .carousel-item.active {
    /*transform: rotateY(0deg);*/
}

.hero .carousel-item-next {
    /*transform: rotateY(-180deg);*/
}

.hero .carousel-item-prev {
    /*transform: rotateY(180deg);*/
}

.hero .text-wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero .text-wrapper h1,
.hero .text-wrapper p{
    text-shadow: black 0.1em 0.1em;
}

.bi-calendar span {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rekomendasi .carousel-control-prev,
.rekomendasi .carousel-control-next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    /*transform: translateY(-50%);*/
    background-color: #78C6EA;
    border: none;
    opacity: 1;
    border-radius: 100px;
    color: white;
}

.rekomendasi .carousel-control-prev {
    left: -3%;
}

.rekomendasi .carousel-control-next {
    right: -3%;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-bg {
    background-color: rgba(147, 218, 255, 0.46);
}

.card-important{
    background-color: rgba(255, 99, 99, 0.5);
}

.destination-card {
    max-width: 1000px; /* Set a maximum width for the card */
    min-width: 300px; /* Set a minimum width for the card */
    height: 400px; /* Set a fixed height for the card */
}

.card-list-wisata .card-body {
    height: 100%;
    width: 100%;
}

.card-list-wisata .card-body .col {
    height: 100%;
}

.destination-card img {
    height: 200px; /* Set a fixed height for the images */
    width: 150%; /* Ensure images fill the width of their container */
    /*object-fit: cover; !* Scale images uniformly *!*/
}


     /* Style to ensure consistent sizing for all images */
 .destination-image img {
     height: 300px; /* Set a fixed height for the images */
     width: 100%; /* Auto-adjust width to maintain aspect ratio */
     object-fit: cover; /* Scale images uniformly */
 }

.scrolling-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap; /* Prevents items from wrapping to the next line */
}



.information-wrapper{
    width: 100%;
    margin-top: 100px;
}

.information{
    padding-inline: 40px;
}

.information-title{
    font-size: 20px;
    font-weight: normal;
}

.information-image{
    width: 50px;
}

.information-text{
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}

.about-wrapper{
    width: 100%;
    margin-top: 100px;
}

.about-title{
    font-size: 20px;
    font-weight: normal;
}

.about-text{
    font-size: 14px;
    text-align: justify ;
}

.wisata-wrapper{
    width: 100%;
    margin-top: 100px;
}

.wisata-title{
    font-size: 20px;
    font-weight: normal;
}

.wisata-wrapper .card-img-top{
    width: 100%;
    height: 400px;
    overflow: hidden;

}

.wisata-wrapper a:hover .card-title{
    color: #78C6EA;
}

.wisata-wrapper a:hover .card-img-top img{
    transform: scale(1.1);
    transition: transform 1s ease;
}

.wisata {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    white-space: nowrap;
    gap: 20px;
    padding: 20px;
}

.wisata a{
    min-width: 400px;
}

.wisata::-webkit-scrollbar{
    display: none;
}

.wisata-wrapper .card-img-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.rekomendasi-wrapper{
    width: 100%;
    margin-top: 100px;
}

.rekomendasi{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 40px;
}

.rekomendasi-title{
    font-size: 20px;
    font-weight: normal;
}

.destination-logo{
    width: 100px;
    height: 100px;
}

.destination-text{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.logo-list{
    width: 50px;
}

.navbar-brand img,
.logo-right img,
.logo-footer img,
.logo-footer-2 img,
.logo-footer-3 img,
.logo-detail img,
.information-image img,
.destination-logo img,
.logo-list img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-content a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}

.rekomendasi .carousel{
    width: 75%;
}

.rekomendasi .card{
    width: 100%;
    height: 300px;
}

.rekomendasi .card-body{
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.event .card{
    width: 100%;
    height: 300px;
}

.event .card-body{
    height: 100%;
    width: 100%;
    overflow-y: auto;
}


@media (max-width: 768px) {
    .hero .text-wrapper h1{
        width: 80%;
    }

    .logo-right {
        width: 40px;
    }

    .card-event{
        width: 90%;
    }

    .logo-footer{
        width: 50px;
    }

    .logo-footer-2{
        width: 100px;
    }

    .logo-footer-3{
        width: 30px;
    }

    footer h6{
        font-size: 10px;
    }

    .logo-detail{
        width: 20px;
    }

    .image-detail{
        width: 100%;
    }

    .information-wrapper{
        margin-top: 50px;
    }


    .information-title{
        font-size: 16px;
    }

    .information-image{
        width: 40px;
    }

    .information-text{
        font-size: 12px;
    }

    .about-wrapper{
        margin-top: 50px;
    }

    .wisata-wrapper{
        margin-top: 50px;
    }

    .wisata-title{
        font-size: 16px;
    }

    .about-title{
        font-size: 16px;
    }

    .about-text{
        font-size: 12px;
    }

    .rekomendasi-wrapper{
        margin-top: 50px;
    }

    .rekomendasi-title{
        font-size: 16px;
    }

    .card-list-wisata h5{
        font-size: 14px;
    }

    .card-list-wista i,
    .card-list-wisata h6{
        font-size: 12px;
    }

    .card-list-wisata a{
        font-size: 12px;
    }

    .rekomendasi .carousel{
        width: 100%;
    }

    .rekomendasi .carousel-control-next,
    .rekomendasi .carousel-control-prev{
        width: 30px;
        height: 30px;
        padding: 5px;
    }
}
