:root {
    --primary: rgb(18, 105, 142);
    --bg: #ffff;
  }
  
  * {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: var(--primary);
  }
  
  /* navbar */
  .NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 7%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

  
  .NavBar img {
    max-width: 10%; 
    height: auto; 
  }

    
  .NavBar .navbar-nav a {
    color: #ffffff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
  }
  
  .navbar-nav a:hover {
    color: var(--primary);
  }
  
  .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
  }
  
  .navbar-nav a:hover::after {
    transform: scalex(0.5);
    transition: 0.2s linear;
  }
  
  .NavBar .navbar-ext a {
    color: #010101;
    margin: 0 0.5rem;
  }
  .NavBar .navbar-ext img {
    max-width: 2rem; 
    height: auto; 
}

  .navbar-ext a:hover {
    color: var(--primary);
  }
  
  #Hmenu {
    display: none;
  }
  /* Hero Section */
  .hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../image/hero.png");
    background-size: cover;
    position: relative;
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
    text-align: center; /* Mengatur teks secara horizontal di tengah */
    margin: 0 auto; /* Mengatur teks secara vertikal di tengah */
}

h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    margin-bottom: 0.5em; /* Jarak bawah dari h1 */
}

p {
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    margin-top: 0; /* Menghapus margin atas dari p */
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(1, 1, 3, 1) 3%,
        rgba(255, 255, 255, 0) 25%
    );
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar form {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

.search-bar button[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect */
.search-bar button[type="submit"]:hover {
  background-color: var(--primary);
}

  /* Media Queries */
  /* Laptop */
  @media (max-width: 1366px) {
    html {
      font-size: 75%;
    }
  }
  /* Tablet */
  @media (max-width: 768px) {
    html {
      font-size: 60%;
    }
  
    #Hmenu {
      display: inline-block;
    }
  
    .NavBar .navbar-nav {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: #fff;
      width: 30rem;
      height: 100vh;
      transition: 0.3s;
    }
    .NavBar .navbar-nav.active {
      right: 0;
    }
    .NavBar .navbar-nav a {
      color: #010101;
      display: block;
      margin: 2.4rem;
      font-size: 2rem;
      padding: 0.5rem;
    }
    .navbar-nav a::after {
      transform-origin: 0 0;
    }
    .navbar-nav a:hover::after {
      transform: scaleX(0.25);
    }
  }
  /* Mobile Phone */
  @media (max-width: 450px) {
    html {
      font-size: 40%;
    }
  }
  